.container {
    font-family: "Telex", sans-serif;
    display: flex;
    height: 100vh;
    background-color: #00686C; 
}

.imageContainer {
    flex: 1; 
    overflow: hidden; 
}

.image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.loginContainer {
    color: white;
    flex: 1; 
    margin: auto; 
    padding: 30px;
    border-radius: 15px;
    background-color: #00686C;
    text-shadow: 2px 2px 4px black;
}

.title {
    text-align: center;
    text-shadow: 2px 2px 4px black;
    font-family: "Telex", sans-serif;
}

.formGroup {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
    margin: 0% 0% 0% 25%;
    text-shadow: 2px 2px 4px black;
}

.input {
    width: 50%;
    margin: 0% 0% 0% 25%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.forgotPassword {
    margin-left: 50%;
  }
  

.welcomeTitle {
    text-align: center; 
    margin-bottom: 20px; 
}

.buttonContainer {
    width: 15%;
    display: flex; 
    justify-content: center; 
    margin: 10px auto; 
}

.button {
    background-color: #FF9915; 
    color: white; 
    text-shadow: 1px 1px 5px black;
    width: 100%; 
    padding: 10px; 
    border-radius: 40px; 
    border: none; 
    cursor: pointer; 
    font-size: 1rem; 
    transition: background-color 0.3s, transform 0.3s; 
}

.button:hover {
    background-color: #c57702; 
    transform: scale(1.05); 
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Muda a direção do flex para coluna */
        height: auto; /* Permite que a altura se ajuste ao conteúdo */
    }

    .imageContainer {
        width: 100%; /* A imagem ocupa toda a largura */
        height: 30vh; /* Altura menor para dispositivos móveis */
    }

    .image {
        object-fit: cover; /* Mantém a cobertura da imagem */
    }

    .loginContainer {
        width: 90%; /* Faz a largura do container de login ocupar 90% */
        margin: 20px auto; /* Centraliza com margem em cima e embaixo */
        padding: 20px; /* Ajusta o preenchimento */
    }

    .input {
        width: 100%; /* Os inputs ocupam 100% da largura disponível */
        margin: 0; /* Remove margens laterais */
    }

    .buttonContainer {
        width: 80%; /* Ajusta a largura do container do botão */
    }

    .forgotPassword {
        margin-left: 0; /* Remove a margem lateral */
        text-align: center; /* Centraliza o texto */
    }

    .welcomeTitle {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte para dispositivos menores */
    }

    .title {
        font-size: 1.2rem; /* Ajusta o tamanho da fonte para o título */
    }
}
