.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #00686C;
  margin: 0;
}

.logoImage {
  height: 80px; 
  width: auto; 
}

.logo {
  display: flex;
  align-items: center; 
}

.logoText {
  color: white; 
  margin-right: 1140px; 
}

.logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.navLinks {
  font-family: "Telex", sans-serif;
  list-style: none;
  display: flex;
  gap: 15px;
  margin-right: 1%;
}

.navLinks li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.navLinks li a:hover {
  text-decoration: underline;
}


.buttonLink {
  background: none;
  border: none;
  color: white;
  font: inherit;
  cursor: pointer;
  padding: 0; 
  text-decoration: none; 
}
